body {
    font-size: 18px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #070707;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

.menu__link:link,
.menu__link:visited {
    color: #828282;
    text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
    color: #070707;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #070707;
    text-decoration: underline;
}

h1,
h2 {
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 48px;
    padding-top: 12px;
}

h2 {
    font-size: 34px;
    padding-top: 100px;
}

.bg-red {
    background-color: #F6F6F6;
}

.text-container {
    padding: 50px 0 100px 0;
}

.skills_item {
    box-sizing: border-box;
    padding: 50px 0 100px 0;
}

.text-container p:nth-child(2) {
    padding: 30px 0 30px 0;
}

.skills_item p {
    color: #828282;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
}

.skills_item span {
    height: 38px;
    width: 90px;
    padding-top: 25px;
    padding-bottom: 60px;
}

.header {
    margin-bottom: 15px;
}

nav {
    padding: 28px 0;
    border-bottom: 1px solid #828282;
    box-sizing: border-box;
}

.menu,
p {
    margin: 0;
    padding: 0;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    padding: 0 20px;
}

.promo__img {
    padding-top: 50px;
    width: 100%;
    background-position: center;
}

.bg-red {
    background-color: #F6F6F6;
}

.portfolio_block {
    padding: 70px 0 0 0;
}

.portfolio_block img {
    width: 100%;
    padding-bottom: 40px;
}

.border_block {
    padding-bottom: 100px;
}

h2+p,
img+p {
    padding-top: 20px;
}

.skills_block {
    display: inline-block;
    width: 170px;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
}

.skills_block:not(:last-child) {
    margin-right: 55px;
}

.skills__list {
    width: 100%;
    margin: 60px 0 0 0;
}

.skills__list img:not(:nth-child(5)) {
    padding-right: 10px;
}

/* for footer */
.footer_social_logo a:not(:nth-child(4)) {
    padding-right: 50px;
}

button {
    background-color: #070707;
    width: 180px;
    height: 44px;
    padding: 0px 16px;
    border-radius: 22px;
}

button:hover {
    background-color: #828282;
    border-color: #828282;
}

.footer_social_logo {
    padding-top: 30px;
}

footer span {
    color: white;
    letter-spacing: 1.8px;
    font-weight: 700;
}

.button_logo {
    padding: 60px 0;
}

.button_logo~p {
    color: #828282;
    font-size: 14px;
}
